body {
    background-color: #181D28;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

p {
    color: #8C9BBA;
    line-height: 28px;
}

h1 {
    font-size: 2.2em;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-size: 1.4em;
    font-style: bold;
}


a {
    color: #D2F898;
    text-decoration: none;
}

a:hover {
    color: pink;
    text-decoration: underline;
}


ul {
    font-family: monospace;
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 32px;
}


.container {
    height: 600px;
    padding-top: 100px;
    width: 80%;
    margin: auto;
    /*border: 2px dashed #4b2869; */
    min-width: 375px;
}


#header-box {
    border-bottom: #4D5D80 1px solid;
    max-width: 420px;
    margin: auto;
    padding-bottom: 20px;
}

#text-box {
    text-align: left;
    max-width: 420px;
    margin: auto;
    padding: 16px;
}

#list-items {
    margin-bottom: 40px;
}