:root {
  /* define color variables */
  --primaryColor: #181d28; /* 800 - Raven's shadow */
  --primary50: #f2f4f7;
  --primary100: #e6e9f0;
  --primary200: #ccd2e0;
  --primary300: #b3bcd1;
  --primary400: #8c9bba;
  --primary500: #6679a3;
  --primary600: #4d5d80; /* Fjord */
  --primary700: #364159;
  --primary900: #08090d;
  --secondaryColor: #bea25a;
  --tertiaryColor: #8fbcbb;
  --actionColor: #6679a3;
  --lightBackground: #f2f4f7;
  --backgroundColor: #f7feff;
  --figCaption: #6b654b;
}

/* Global box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* stops scroll for mobile menu */
.stopScroll {
  max-height: 100%;
  overflow-y: hidden;
}
/* stops body from scrolling on mobile devices */
.bodyFixed {
  position: fixed;
}

/* Global Styles */

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 62.5%; /*setting default to 10px - THIS is causing chat icon to compress */
}

html,
body {
  height: 100%;
  max-height: none;
}

body {
  /* Top to bottom gradient */
  background-color: white;
  color: var(--primaryColor);
  text-align: left;
  font-size: 1.4rem;
  font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  margin: 0px;
  /* height: fit-content; */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  animation: fadeInPage;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier();
}

body::before {
  content: "";
  background: radial-gradient(circle, transparent 60%, var(--primary100));
  background-repeat: no-repeat;
  background-position: bottom;
  height: 100vh; /* Height of the gradient */
  position: fixed;
  width: 100%;
  z-index: -1;
  bottom: 0;
  left: 0;
}

@keyframes fadeInPage {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

p {
  line-height: 180%;
}

h1 {
  font-size: max(5.4rem, 3.6rem); /* no smaller than 3.6rem, 5.4vw*/
  /*font-size: clamp(3.2rem, 5.4vw + 1rem, 7rem); */
  color: var(--primaryColor);
  line-height: 120%;
  font-weight: 600;
  font-style: normal;
  margin-top: 0px;
  margin-bottom: 0px;
  animation: headingAnimation;
  animation-duration: 1s;
  animation-fill-mode: backwards;
  animation-timing-function: cubic-bezier();
  transform-origin: left;
}

h2 {
  font-size: max(4rem, 3rem); /* no smaller than 3.6rem*/
  line-height: 110%;
  font-weight: 500;
  margin-bottom: 24px;
  animation: headingAnimation;
  animation-delay: 0s;
  animation-duration: 0.75s;
  animation-fill-mode: backwards;
  animation-timing-function: cubic-bezier();
  transform-origin: left;
}

.h2-light {
  color: var(--primary300);
  line-height: 110%;
  /*font-size: 2.1rem; */
}

@keyframes headingAnimation {
  0% {
    color: var(--tertiaryColor);
    transform: scale(1.08);
  }
  100% {
    transform: scale(1);
  }
}

h3 {
  font-size: 3.2rem;
  line-height: 110%;
  font-weight: 600;
  margin-bottom: 20px;
  animation: headingAnimation;
  animation-delay: 0.1s;
  animation-duration: 0.75s;
  animation-fill-mode: backwards;
  animation-timing-function: cubic-bezier();
  transform-origin: center;
}

h4 {
  font-size: 2.8rem;
  font-weight: 300;
  line-height: 130%;
  animation: headingAnimation;
  animation-delay: 0.1s;
  animation-duration: 1s;
  animation-fill-mode: backwards;
  animation-timing-function: cubic-bezier();
  transform-origin: left;
}

h5 {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 0px;
  text-align: center;
}

h6 {
  font-size: 1.7rem;
  font-weight: 500;
  margin-bottom: 0px;
}

.medium-text {
  font-weight: 600;
}

.light-text {
  color: #b3bcd1;
}

.primary400 {
  color: var(--primary400);
}

.tertiary {
  color: var(--tertiaryColor);
}

.shadow {
  box-shadow: 1px 2px 8px rgb(24, 29, 40, 0.3);
}

p {
  animation: pAnimation;
  animation-delay: 0.1s;
  animation-duration: 0.5s;
  animation-fill-mode: backwards;
  animation-timing-function: cubic-bezier();
  transform-origin: bottom;
}

@keyframes pAnimation {
  0% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.hdline-light {
  color: var(--tertiaryColor);
}

.hdline-alt {
  color: #4d5d80;
  padding-bottom: 8px;
  margin-bottom: 40px;
  padding-bottom: 32px;
  border-bottom: solid 4px var(--primaryColor);
}

.hdline-alt-span {
  display: inline-block;
  width: 60%;
  max-width: 740px;
}

a {
  color: var(--actionColor);
  text-decoration: none;
  transition: color 150ms ease-out;
}

a:hover {
  color: var(--secondaryColor);
}

ul {
  margin-bottom: 32px;
  margin-left: 0px;
  padding-left: 24px;
}

li {
  line-height: 160%;
  margin-bottom: 8px;
  padding-left: 8px;
}

figure {
  margin: 0px 0px 60px 0px;
}

figcaption {
  font-size: 1.2rem;
  font-style: italic;
  color: var(--figCaption);
  margin-top: 4px;
  text-align: right;
}

.tag1 {
  color: var(--figCaption);
  border-radius: 4px;
  font-size: 1.4rem;
  padding: 4px;
  margin-left: 4px;
  margin-right: 4px;
  background-color: #f2ecde;
  outline: 1px solid #e4d2a5;
}

.tag2 {
  color: var(--figCaption);
  border-radius: 4px;
  font-size: 1.4rem;
  padding: 4px;
  margin-left: 4px;
  margin-right: 4px;
  background-color: #f2ecde;
  outline: 1px solid #e4d2a5;
}

/* Button Styles */
.primary-btn,
.secondary-btn,
.resumeButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 4px;
  padding: 12px 12px;
  font-size: 1.4rem;
  font-weight: 500;
  transition: 0.5s;
  letter-spacing: 0.07em;
  box-sizing: border-box;
  box-shadow: 1px 2px 8px rgb(24, 29, 40, 0.3);
}

.primary-btn {
  background-color: var(--secondaryColor);
  color: var(--backgroundColor);
  /* outline: 1px solid var(--backgroundColor); */
}

.primary-btn:hover,
.secondary-btn:hover {
  background-color: #a0843f;
  transition: 500ms;
  cursor: pointer;
  color: white;
}

.resumeButton {
  transition: all 0.3s;
  margin: 40px 0 20px 0;
}

.secondary-btn {
  background-color: var(--primary600);
  color: var(--backgroundColor);
  text-wrap: nowrap;
}

.secondary-btn:hover {
  background-color: var(--secondaryColor);
  transition: 500ms;
  cursor: pointer;
}

.page-header {
  padding-bottom: 0px;
  /*border-bottom: solid 4px var(--primaryColor); */
}

/* GRID STYLES ------------------------*/

.grid-container {
  margin-left: 32px;
  margin-right: 32px;
  display: grid;
  grid-template-columns: 1fr 8fr;
  grid-template-areas:
    "hd hd"
    "lft rgt";
  column-gap: 5vw;
}

/* Header Styles ------------------------*/
header {
  grid-area: hd;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  padding-right: 24px;
  padding-top: 24px;
  height: 90px;

  /*border: pink dashed 1px; */
}

#logo-link {
  width: 24px;
  grid-area: lft;
  margin-left: 124px;
}

#logo-link:hover #jtf-logo path {
  animation-duration: 2s;
  animation-name: logoAnimation;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier();
}

@keyframes logoAnimation {
  0% {
    fill: var(--primaryColor);
  }
  50% {
    opacity: 1;
    fill: var(--secondaryColor);
  }
  100% {
    fill: var(--primaryColor);
  }
}

#jtf-logo {
  width: "24";
  height: "24";
}

#jtf-logo path {
  fill: var(--primaryColor);
}

#jtf-logo path:hover {
  fill: var(--secondaryColor);
}

/* show and fade in logo on scroll */
.logo-scroll-show {
  display: block;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.7s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.logo-scroll-hide {
  display: none;
}

#send-icon {
  margin-top: 24px;
  margin-right: 0px;
}

.send-icon path {
  fill: var(--primaryColor);
  transition: 300ms;
}

.send-icon path:hover {
  fill: var(--secondaryColor) !important;
}

/* Buzz */
@-webkit-keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
@keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
.hvr-buzz {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-buzz:hover,
.hvr-buzz:focus,
.hvr-buzz:active {
  -webkit-animation-name: hvr-buzz;
  animation-name: hvr-buzz;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.send-tooltip {
  position: relative;
  display: inline-block;
  width: 24px;
  z-index: 99;
}

.send-tooltip .send-tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #181d28;
  color: var(--backgroundColor);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  transition: linear 300ms;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.send-tooltip:hover .send-tooltiptext {
  visibility: visible;
  transition: linear 500ms;
}

/* Nav styles ------------------------*/

nav {
  position: sticky;
  top: 24px;
  grid-area: lft;
  align-self: self-start;
  margin-top: 60px;
  margin-right: 0px;
  z-index: 98;
  /*border: #84f2f8 dashed 1px;  */
  text-align: right;
  height: fit-content;
}

nav ul {
  /* font-family: "fira-code", monospace;  */
  list-style: none;
  line-height: 48px;
  padding: 0;
  margin: 0;
  line-height: 3em;
  margin-top: 20px;
  transition: none;
}

nav ul li {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 4rem;
  margin-left: 12px;
  box-sizing: border-box;
  border-radius: 4px;
  display: block;
  width: 140px;
}

nav ul li a {
  color: var(--primaryColor);
  text-decoration: none;
  font-weight: 500;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  display: block;
}

nav ul li:hover {
  background-color: #ffffff;
  outline: 1px solid #d9d9d9;
  box-shadow: 1px 2px 10px rgb(197, 202, 213, 0.5);
}

.current {
  color: var(--secondaryColor);
}

nav ul li a:hover,
.current a {
  text-decoration: none;
  transform-origin: right;
  color: var(--secondaryColor);
}

.checkbtn {
  font-size: 24px;
  color: var(--primaryColor);
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

#check:checked ~ ul {
  left: 0;
}

body,
html {
  max-height: none;
}

/*toggle body scroll when menu is open */
#check:checked:has(> body) {
  max-height: 100%;
  overflow-y: hidden;
}

#check:not(:checked) ~ html {
  max-height: none;
  overflow-y: scroll;
}

.checkbtn:hover {
  color: var(--secondaryColor) !important;
  transition: 300ms;
}

/* PAGE STRUCTURE STYLES ------------------------*/

.content-wrapper {
  grid-area: rgt;
  justify-self: center;
  align-self: start;
  max-width: 860px;
  padding-top: 0px;
  text-align: left;
  padding-left: 24px;
  padding-right: 24px;
  margin-bottom: 48px;
  width: 100%;

  /*border: 1px dashed pink; */
}

/* HOMEPAGE ------------------------*/
.home-content-wrapper {
  grid-area: rgt;
  justify-self: center;
  align-self: start;
  max-width: 1200px;
  padding-top: 0px;
  text-align: left;
  padding-left: 24px;
  padding-right: 24px;
  margin-bottom: 48px;
  width: 100%;

  /*border: 1px dashed pink; */
}

#hero-box {
  /*border: lightblue 1px dashed; */
  margin-top: 0px;
  padding-bottom: 48px;
  margin-bottom: 24px;
  border-bottom: solid 8px var(--primaryColor);
  overflow: visible;
  /* transform: skew(
    -15deg,
    -14deg
  ); /* skews the element 15 degrees along the x-axis, and 15 degrees along the y-axis */

  /* CSS animation to change hero box color below
  animation-name: backgroundColorPalette;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  */
  /* linear is enabled default, it’s not necessary to add it make it work but it can make your code more expressive */
}

#hero-image-div {
  position: relative;
  overflow: visible;
}

#hero-txt-box {
  display: block;
  width: 100%;
}

.hero-h1 {
  /*font-size: clamp(3.2rem, 3vw, 4.8rem); */
  font-weight: 600;
}

.hero-h5 {
  width: 70%;
  font-size: 2.1rem;
  font-weight: 400;
  text-align: left;
}

.hero-gold-txt {
  color: var(--secondaryColor);
}

#hero-box h4 a:hover {
  background-color: white;
  text-decoration: underline dotted 2px;
}

#seasoned-span {
  max-width: 800px;
  display: inline-block;
}

#text-box {
  text-align: left;
}

.content-box {
  margin: auto;
  padding: 0px;
  width: 100%;
  max-width: none;
}

#section-2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.hero-band {
  background-color: var(--primary900);
  color: white;
  padding: 8px;
  line-height: 40px;
}

/* HOMEPAGE PROJECTS ------------------------*/

.project-container {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  flex-wrap: wrap;
  gap: 20px;
}

.project-item {
  margin-bottom: 48px;
  box-sizing: border-box;
  flex: 1 1 calc(50% - 20px); /* Take 50% of the width, minus the gap */
  max-width: calc(50% - 20px); /* Ensure consistent sizing */
  min-width: 250px;
}

.project-item img {
  box-sizing: border-box;
  width: 100%;
}

#profile-pic {
  width: 64px;
  outline: 1px solid white;
  border-radius: 50%;
}

.proj-h3 {
  color: var(--primaryColor);
  margin-top: 0;
  margin-bottom: 0px;
}

.profile-bg {
  padding: 32px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--primary100);
  height: 350px;
  margin-bottom: 24px;
}

.project-bg {
  padding: 32px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(var(--primary100), var(--primary50));
  /*background-color: var(--primary100); */

  margin-bottom: 24px;
}

.proj-desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0px;
}

.home-cs-img {
  transition: transform 0.3s ease-in-out;
}

.home-cs-img:hover {
  transform: scale(1.07);
  transition: transform 0.3s ease-in-out;
}

/* BACK TO TOP BUTTON ------------------------*/

#topBtn {
  display: none;
  position: fixed;
  bottom: 80px;
  right: 16px;
  z-index: 98;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #262e40;
  color: var(--backgroundColor);
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  opacity: 15%;
  transition: 500ms;
}

#topBtn:hover {
  background-color: #f3f5f9;
  opacity: 100%;
  transition: 500ms;
}

#topBtn:active {
  /*background-color: #E4B4DC; */
  opacity: 100%;
  background-color: #b983ae;
  transition: 0ms;
}

/* Sweep To Top */
.hvr-sweep-to-top {
  display: inline-block;
  border-radius: 4px;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  /* box-shadow: 0 0 1px rgba(0, 0, 0, 0);  */
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-top:before {
  content: "";
  position: absolute;
  border-radius: 4px;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--secondaryColor);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-top:hover,
.hvr-sweep-to-top:focus,
.hvr-sweep-to-top:active {
  color: var(--secondaryColor);
}

.hvr-sweep-to-top:hover:before,
.hvr-sweep-to-top:focus:before,
.hvr-sweep-to-top:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

/* WORK PAGES STYLES ------------------------*/

.tldr-section {
  padding: 40px;
  background-color: var(--primary100);
  border-radius: 12px;
}

.tldr {
  font-style: italic;
  color: var(--primary600);
  margin: 0, 0, 16, 0;
}

.tldr-section h4 {
  margin: 0;
}

.work-box {
  padding: 0px;
}

.img-box-gray {
  width: 100%;
  box-sizing: border-box;
  border: #e6e9f0 solid 40px;
  border-radius: 12px;
  outline: solid 1px white;
  padding: 40px;
  background-color: var(--lightBackground);
  padding: 0px;
  margin-top: 20px;
  box-shadow: 1px 2px 8px #c5cad5;
}

.img-box-black {
  width: 100%;
  box-sizing: border-box;
  /* border: #000000 solid 20px;  */
  background-color: #000000;
  padding: 20px;
  margin-top: 20px;
}

.img-box-green {
  width: 100%;
  box-sizing: border-box;
  border: #ddebeb solid 20px;
  padding: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.img-box-orange {
  width: 100%;
  box-sizing: border-box;
  border: #fdf5ea solid 20px;
  padding: 0px;
}

.work-intro {
  display: flex;
  justify-content: space-between;
}

.work-intro-summary {
  width: 60%;
  margin-bottom: 24px;
  /*border: #B983AE solid 1px; */
}

.work-intro ul {
  font-size: 1.4rem;
  list-style: none;
  line-height: 200%;
}

.work-target-heading {
  color: #6679a3 !important;
}

.work-target-box {
  display: flex;
  justify-content: space-between;
}

.work-section {
  margin-top: 40px;
  margin-bottom: 100px;
}

.work-section h2 {
  color: #4d5d80;
}

.nextLink {
  font-size: 2.1rem;
  margin-top: 48px;
  text-align: right;
  color: #b3bcd1;
}

.next-work {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: right;
  color: #8c9bba;
  /* border: #B983AE solid 1px; */
}

.next-arrow {
  font-size: 32px;
  /* border: #B983AE solid 1px; */
}

#next-arrow {
  /* border: #B983AE solid 1px; */
  margin-top: -4px;
}

.next-work-label {
  margin-right: 4px;
}

.next-work-label a {
  color: #8c9bba;
}

.next-work-label a:hover {
  color: var(--secondaryColor);
  text-decoration: none;
}

.next-btn {
  color: #8c9bba;
  background-color: #fff;
  font-size: 2rem;
  border: none;
}

/* EXPERTISE PAGE ------------------------*/

.exp-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
  flex-wrap: wrap;
  border-bottom: 1px solid var(--primary300);
  margin-top: 100px;
  padding-bottom: 100px;
}

.expertise-header {
  display: block;
  margin-right: 60px;
  width: 35%;
  margin-top: 0;
  text-align: right;
}

.expertise-list {
  list-style: none;
  margin-top: 0;
}

.expertise-list li {
  padding-top: 4px;
  padding-bottom: 4px;
  line-height: 160%;
}

.exp-cols-item {
  flex: 1;
}

.exp-remove-border {
  border-bottom: 0;
}

/* Philosophy Page ------------------------*/

.philos-container {
  width: 100%;
  padding-bottom: 64px;
  padding-top: 28px;
  border-bottom: 1px solid var(--primary300);
}

.philos-hd {
  text-align: center;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.philos-h6 {
  text-align: center;
  font-style: italic;
  font-weight: 500;
  margin-bottom: 24px;
  margin-top: 16px;
  color: var(--primary600);
}

.philos-p {
  max-width: 800px;
  margin: auto;
}

.remove-border {
  border: 0;
}

/* FOOTER ------------------------*/
footer {
  color: var(--primary600);
  margin-top: auto;
  padding-top: 48px;
}

footer p {
  font-size: 1.4rem;
}

footer a {
  color: var(--primary500);
  text-decoration: underline;
}

footer a:hover {
  color: var(--secondaryColor);
}

.footer-h5 {
  color: var(--backgroundColor);
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
  font-size: 2.1rem;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
}

.footer-text-box {
  padding: 32px;
  flex-grow: 1;
  background-color: var(--primaryColor);
  border-radius: 12px;
}

.footer-text {
  color: var(--backgroundColor);
}

.footer-text a {
  color: var(--primary400);
}

.footer-btn {
  margin-top: 16px;
  margin-bottom: 32px;
}

.footer-socials {
  width: 240px;
  flex-grow: 0;
}

#footer-tree-rune {
  width: 32px;
  height: 32px;
  padding-right: 0;
  display: inline-block;
  margin-bottom: 16px;
}

#jtf-footer-logo {
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-right: 12px;
  margin-bottom: 16px;
}

#jtf-footer-logo path {
  fill: var(--primary600);
}

.footer-logo {
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 4.5rem;
}

.footer-tagline {
  font-size: 2rem;
}

#footer-pipe {
  color: #4d5d80;
}

.socials {
  list-style-type: none;
  padding: 0;
  margin-left: 0;
  margin-top: 32px;
}

ul.socials li:first-child {
  padding-left: 0;
  margin-left: 0;
}

.socials li {
  display: inline-block;
  margin-left: 0;
  padding-left: 12px;
}

.socials img {
  width: 24px;
  opacity: 0.7;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 500ms;
  margin: 0;
  padding: 0;
}

.socials img:hover {
  opacity: 1;
}

#footer-text {
  align-content: top;
  margin-bottom: 60px;
  /* border: #B983AE 1px solid; */
  /* margin-right: auto; */
}
