:root {
  /* define color variables  */
  --bgColor: #181d28;
  --textColor: #ccd2e0;
  --secondaryColor: #222836;
  --addColor: #424a61;
  --actionColor: #b2a2d4;
  --doneColor: #3f5e1d;
  --errorText: pink;
  --fieldError: rgb(55, 21, 21);
  --placeholderText: #4e5f83;
  --shadowColor: #10131a;
  --editFieldColor: #08090d;
}

body {
  background-color: var(--bgColor);
  color: var(--textColor);
}

h1 {
  color: var(--textColor);
}

li.done {
  color: var(--doneColor);
  opacity: 0.5;
}

li.done:hover {
  color: var(--doneColor);
  opacity: 1;
}

li {
  border-bottom-color: var(--secondaryColor);
  background-color: var(--secondaryColor);
}

li i:hover,
li.done i:hover {
  color: var(--actionColor);
}

input {
  outline: none;
}

#taskInput {
  color: var(--textColor);
  background-color: var(--bgColor);
  transition: background-color 0.3s ease-out;
  border: none;
}

#taskInput::placeholder {
  color: var(--placeholderText);
}

#taskInput:focus {
  /* border-bottom-color: var(--actionColor); */
  background-color: var(--editFieldColor);
}

#taskInput:focus::placeholder {
  color: var(--textColor);
}

.fieldError {
  background-color: var(--fieldError) !important;
  transition: 0.2s ease-in-out;
}

.fieldError::placeholder {
  color: var(--errorText) !important;
}

#errorMessage {
  color: var(--errorText);
}

.task {
  box-shadow: 2px 4px 16px var(--shadowColor);
  border: solid 1px #2b3244;
  transition: transform 0.3s ease;
}

.task:hover {
  color: var(--actionColor);
  background-color: #242b3c;
}

.task-loaded {
  opacity: 1;
}

/* Task item inital color*/
.task-make {
  background-color: var(--addColor);
  opacity: 1;
  transition: background-color 1.2s ease-in-out, opacity 0.2s ease-in-out,
    height 1s ease-in-out, padding-top 0.7s ease-in-out,
    padding-bottom 0.7s ease-in-out, margin-top 0.7s ease-in-out,
    margin-bottom 0.7s ease-in-out, overflow 0.7s ease-in-out;
}

/* Fade in effect when a task is added */
.task-made {
  background-color: #1e2432;
}

span[contentEditable="true"] {
  border: none;
  cursor: text;
  margin-left: 12px;
}

span[contentEditable="true"]:hover {
  color: var(--textColor);
}

span[contentEditable="true"]:focus {
  background-color: var(--editFieldColor);
  border-radius: 8px;
  outline: none;
  border: none;
  transition: background-color, 0.3s ease-in;
}

.task.drag-over {
  background-color: var(--actionColor) !important;
  transition: none !important;
  opacity: 1 !important;
  transition-property: none !important;
}

.dragging {
  opacity: 1; /* Makes the item semi-transparent */
  border: 2px solid var(--addColor); /* Adds a dashed border */
  background-color: #0d1114; /* Optional: changes the background color */
  color: var(--editFieldColor);
}

.task-placeholder {
  height: 40px; /* or match the height of your task items */
  background-color: transparent; /* or a light color for visual feedback */
  border: 1px dashed #ccc; /* optional, to show placeholder */
}
.hidden-dragging {
  visibility: visible;
}

input {
}
