/* merged css file */

:root {
  /* Color Variables */
  --bgColor: #181d28;
  --textColor: #ccd2e0;
  --secondaryColor: #222836;
  --addColor: #424a61;
  --actionColor: #b2a2d4;
  --doneColor: #3f5e1d;
  --errorText: #ffc0cb;
  --fieldError: #371515;
  --placeholderText: #4e5f83;
  --shadowColor: #10131a;
  --editFieldColor: #08090d;
}

/* Global Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 24px;
  font-weight: 400;
  background-color: var(--bgColor);
  color: var(--textColor);
}

h1 {
  font-weight: lighter;
  font-size: 40px;
}

h2 {
  font-weight: 500;
}

p {
  margin: 0;
}

/* Header */
header {
  width: 100%;
  height: 64px;
}

/* Layout & Containers */
#taskapp-container {
  max-width: 540px;
}

#task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#themeButton {
  height: 32px;
  padding: 0;
}

/* Input Field Styles */
#inputContainer {
  display: flex;
  position: relative;
  border: none;
}

#inputContainer input {
  position: relative;
  width: 100%;
}

#inputContainer i {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}

#taskInput {
  width: 100%;
  font-size: 20px;
  padding: 24px;
  border-radius: 8px;
  margin: 0;
  color: var(--textColor);
  background-color: var(--bgColor);
  transition: background-color 0.3s ease-out;
  border: none;
}

#taskInput::placeholder {
  color: var(--placeholderText);
  font-weight: normal;
}

#taskInput:focus {
  background-color: var(--editFieldColor);
}

#taskInput:focus::placeholder {
  color: var(--textColor);
}

/* Task List Styles */
#taskList {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
}

li {
  margin: 8px 0;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  border-bottom-color: var(--secondaryColor);
  background-color: var(--secondaryColor);
  color: var(--textColor);
}

li.done {
  color: var(--doneColor);
  opacity: 0.5;
  text-decoration: line-through;
}

li.done:hover {
  opacity: 1;
}

.task li i,
li i:hover,
li.done i:hover {
  cursor: pointer;
  margin-left: 12px;
  color: var(--actionColor);
}

/* Checkbox Styles */
li .custom-checkbox input[type="checkbox"] {
  display: none;
}

li .custom-checkbox .checkmark {
  width: 16px;
  height: 16px;
  background-color: var(--addColor);
  border-radius: 4px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
}

li .custom-checkbox input[type="checkbox"]:checked + .checkmark {
  background-color: #4caf50;
}

li .custom-checkbox .checkmark::after {
  content: "";
  position: absolute;
  display: none;
  left: 12px;
  top: 6px;
  width: 8px;
  height: 16px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

li .custom-checkbox input[type="checkbox"]:checked + .checkmark::after {
  display: block;
}

/* Task Item Initial Style */
.task {
  opacity: 0;
  cursor: grab;
  box-shadow: 2px 4px 16px var(--shadowColor);
  border: solid 1px #2b3244;
  transition: transform 0.3s ease;
}

.task:hover {
  color: var(--actionColor);
  background-color: #242b3c;
}

/* Task Hover & Drag Styles */
.task:active {
  transform: rotate(8deg);
  opacity: 1;
}

.dragging {
  opacity: 1;
  cursor: grabbing;
  border: 2px solid var(--addColor);
  background-color: #0d1114;
  color: var(--editFieldColor);
}

.task-placeholder {
  height: 40px;
  background-color: transparent;
  border: 1px dashed #ccc;
}

.task.drag-over {
  background-color: var(--actionColor) !important;
  transition: none !important;
  opacity: 1 !important;
  transition-property: none !important;
}

/* Transitions */
.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0 !important;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;
  height: 0;
  background-color: var(--addColor);
  transition: height 1s ease-in-out, padding-top 0.7s ease-in-out,
    padding-bottom 0.7s ease-in-out, margin-top 0.7s ease-in-out,
    margin-bottom 0.7s ease-in-out, overflow 0.7s ease-in-out;
}

/* Editable Span Styles */
span[contentEditable="true"] {
  border: none;
  cursor: text;
  margin-left: 12px;
}

span[contentEditable="true"]:hover {
  color: var(--textColor);
}

span[contentEditable="true"]:focus {
  background-color: var(--editFieldColor);
  border-radius: 8px;
  outline: none;
  transition: background-color 0.3s ease-in;
}

/* Error States */
.fieldError {
  background-color: var(--fieldError) !important;
  transition: 0.2s ease-in-out;
}

.fieldError::placeholder {
  color: var(--errorText) !important;
}

#errorMessage {
  color: var(--errorText);
}

.buttonDiv {
  text-align: right;
  flex-shrink: 0;
  margin-left: 12px;
  font-size: 18px;
}
