:root {
  /* define color variables  */
  --bgColor: #181d28;
  --textColor: white;
  --secondaryColor: #222836;
  --addColor: #424a61;
  --actionColor: aqua;
  --doneColor: gray;
  --errorText: pink;
  --fieldError: rgb(55, 21, 21);
  --placeholderText: rgb(166, 224, 224);
}

body {
  background-color: var(--bgColor);
  color: var(--textColor);
}

h1 {
}

li.done {
  color: var(--doneColor);
}

li {
  border-bottom-color: var(--secondaryColor);
  background-color: var(--secondaryColor);
}

li i:hover,
li.done i:hover {
  color: var(--actionColor);
}

#taskInput {
  color: var(--textColor);
  background-color: var(--secondaryColor);
  border-bottom-color: var(--textColor);
}

#taskInput::placeholder {
  color: var(--placeholderText);
}

#taskInput:focus {
  /* border-bottom-color: var(--actionColor); */
  background-color: var(--addColor);
}

#taskInput:focus::placeholder {
  color: var(--textColor);
}

.fieldError {
  background-color: var(--fieldError) !important;
}

.fieldError::placeholder {
  color: var(--errorText) !important;
}

#errorMessage {
  color: var(--errorText);
}

.task-loaded {
  opacity: 1;
}

/* Task item inital color*/
.task-make {
  background-color: var(--addColor);
  opacity: 1;
}

/* Fade in effect when a task is added */
.task-made {
  background-color: var(--secondaryColor);
  transition: background-color 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
