body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 900px;
  margin: 50px auto;
  background-color: #181d28;
  color: white;
  text-align: left;
}

input,
button {
  padding: 10px;
  font-size: 16px;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px rgb(54, 54, 54);
  height: 54px;
}

li.done {
  text-decoration: line-through;
  color: rgb(78, 89, 100);
}

li button {
  height: 32px;
  padding: 0;
  margin-left: 20px;
  background-color: lightgray;
  color: black;
  border: none;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 12px;
}

li.done button {
  text-decoration: none;
  color: green;
}

#inputContainer {
  display: flex;
  gap: 8px;
}

#taskInput {
  width: 100%;
  border: none;
  background-color: rgb(0, 52, 80);
  font-size: 24px;
  border-radius: 8px;
  color: white;
}

#taskInput::placeholder {
  color: rgb(78, 99, 99);
}

#taskInput:focus {
  background-color: aqua;
  border: none;
  color: black;
  outline: none;
}

#errorMessage {
  color: pink;
}

.fieldError {
  background-color: pink !important;
  border: solid 1px red !important;
}

/* Task item is invisible initially */
.task {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

/* Fade in effect when a task is added */
.fade-in {
  opacity: 1;
}

/* Fade out effect when a task is removed */
.fade-out {
  opacity: 0;
}
