:root {
  /* define color variables  */
  --bgColor: white;
  --textColor: black;
  --secondaryColor: #edf2fd;
  --actionColor: aqua;
  --errorText: red;
  --fieldError: red;
  --placeholderText: rgb(78, 99, 99);
}
body {
  background-color: var(--bgColor);
  color: var(--textColor);
}

h1 {
}

li.done {
  color: var(--secondaryColor);
}

li {
  border-bottom-color: var(--secondaryColor);
  background-color: var(--secondaryColor);
}

li i:hover,
li.done i:hover {
  color: var(--actionColor);
}

#taskInput {
  color: var(--textColor);
  background-color: var(--bgColor);
  border-bottom-color: var(--textColor);
}

#taskInput::placeholder {
  color: var(--placeholderText);
}

#taskInput:focus {
  border-bottom-color: var(--actionColor);
}

#taskInput:focus::placeholder {
  color: var(--textColor);
}

.fieldError {
  border-bottom-color: var(--fieldError) !important;
}

.fieldError::placeholder {
  color: var(--errorText) !important;
}

#errorMessage {
  color: var(--errorText);
}
